/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Nicholas Le
   Date: 1/15/19  

   Filename: sb_validate.css

*/


/* Validation Styles */
input:not([type='radio']) {
    background-color: rgb(255, 218, 165)
}